@page "/schadm/students"
@*@inject IConfiguration Configuration*@
@inject HttpClient HttpClient
@inject IStudentService StudentService
@inject IClassService ClassService
@inject IParentService ParentService
@inject IMiscellaneousService MiscellaneousService
@inject IIdentityService IdentityService
@inject ILogger<Student> Logger
@inject AppUser AppUser
@inject IMatToaster Toaster

<MatH5>Students</MatH5>
<br />

@if (!(students is null))
{
    @if (AppUser.IsSchoolAdmin || AppUser.IsAssistantSchoolAdmin) // School admin can add new students
    {
        <MatButton OnClick="ShowAddStudentDialogAsync" Icon="person_add">Add Student</MatButton>
    }
    <MatButton OnClick="LoadAsync" Icon="refresh">Refresh</MatButton>

    <img class="@(busy? "show-gif": "hide-gif")" src="/images/loading.gif" />

    <MatTable Items="@students" Striped="true">
        <MatTableHeader>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Class</th>
            <th>State</th>
            <th>Parent</th>
            <th></th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.FirstName</td>
            <td>@context.MiddleName</td>
            <td>@context.LastName</td>
            <td>@context.Class?.Name</td>
            <td>@context.Address?.State</td>
            <td>@context.Parent?.FirstName @context.Parent?.LastName</td>
            <td>
                @if (AppUser.IsSchoolAdmin || AppUser.IsAssistantSchoolAdmin) // School admin can edit students
                {
                    <MatIconButton OnClick="@(() => ShowSignUpDialog(context.Id))" Icon="exit_to_app" Attributes="@(new Dictionary<string, object>() { { "title", "Manage Sign Up" } })"></MatIconButton>
                    <MatIconButton OnClick="@(() => ShowUpdateSubjectsDialogAsync(context.Id))" Icon="subject" Attributes="@(new Dictionary<string, object>() { { "title", "Subjects" } })"></MatIconButton>
                    <MatIconButton OnClick="@(() => ShowUpdateStudentsParentDialogAsync(context.Id))" Icon="person" Attributes="@(new Dictionary<string, object>() { { "title", "Parent" } })"></MatIconButton>
                    <MatIconButton OnClick="@(() => ShowUpdateStudentDialogAsync(context.Id))" Icon="edit" Attributes="@(new Dictionary<string, object>() { { "title", "Edit Student's Information" } })"></MatIconButton>
                    <MatIconButton OnClick="@(() => ShowDeleteStudentDialog(context.Id))" Icon="delete_forever" Attributes="@(new Dictionary<string, object>() { { "title", "Delete Student" } })"></MatIconButton>
                    }
            </td>
        </MatTableRow>
    </MatTable>
}
else if (loadFailed)
{
    <p><em>@errorMessage</em></p>
    Toaster.Add(errorMessage, MatToastType.Danger, errorTitle, "error");
}
else
{
    <MatProgressBar Indeterminate="true"></MatProgressBar>
}

@*Add / Update Student*@
@if (!(students is null) && (mode == Mode.Add || mode == Mode.Update))
{
    <EditForm Model="student" OnValidSubmit="@Add_UpdateAsync">
        <PeterLeslieMorris.Blazor.Validation.Validate />
        <MatDialog IsOpen="@addUpdateDialogIsOpened" IsOpenChanged="DialogIsOpenedChanged" CanBeClosed="false">

            <MatDialogTitle>@add_UpdateTitle</MatDialogTitle>

            <MatDialogContent>
                <ValidationSummary />

                @*Student properties*@
                <div>

                    <PersonDetailsComponent Person="student" DateOfBirthRequired="true"></PersonDetailsComponent>

                    <div class="row mt-md-n5 pull-up">
                        @*Pull this row up to match the last item displayed from the component*@
                        <div class="form-group col-md-6 offset-md-6">
                            <MatSelect @bind-Value="student.ClassId" Label="Class*" Required="true" Enhanced="true">
                                @if (!(classes is null))
                                {
                                    @foreach (var _class in classes)
                                    {
                                        <MatOption Value="@_class.Id">@_class.Name</MatOption>
                                    }
                                }
                            </MatSelect>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <MatSelect TValue="string" @bind-Value="student.SubjectsStatus" Label="Subjects" Enhanced="true" Disabled="true">
                                <MatOptionString Value="All Class Subjects">All Class Subjects</MatOptionString>
                                <MatOptionString Value="Selected Subjects">Selected Subjects</MatOptionString>
                            </MatSelect>
                        </div>
                        <div class="form-group col-md-6">
                        </div>
                    </div>

                </div>

                <br />
                @*Address*@
                <MatAccordion>
                    <MatExpansionPanel ExpandedChanged="ToggleAddressVisibilityAsync">
                        <MatExpansionPanelSummary>
                            <MatExpansionPanelHeader>Address</MatExpansionPanelHeader>
                        </MatExpansionPanelSummary>
                        <MatExpansionPanelDetails>
                            <div class="row">
                                <div class="form-group">
                                    <MatButton Type="button" OnClick="Add_RemoveAddress">@add_RemoveAddressButtonLabel</MatButton>
                                </div>
                            </div>

                            @if (!(student.Address is null))
                            {
                                <AddressComponent Address="student.Address"></AddressComponent>
                            }
                        </MatExpansionPanelDetails>
                    </MatExpansionPanel>
                </MatAccordion>


            </MatDialogContent>

            <MatDialogActions>
                <MatButton Type="button" OnClick="CloseDialogs">Cancel</MatButton>
                <MatButton Type="submit"><span class="@(busy? "oi oi-loop-circular spinning" : "")"></span>@add_UpdateButtonLabel</MatButton>
            </MatDialogActions>

        </MatDialog>
    </EditForm>
}

@*Add / Update Subject*@
@if (!(student is null) && (mode == Mode.UpdateStudentSubjects))
{
    <MatDialog IsOpen="@subjectDialogIsOpened" IsOpenChanged="DialogIsOpenedChanged" CanBeClosed="false">

        <MatDialogTitle>@student.FullName</MatDialogTitle>

        <MatDialogContent>
            <div class="form-group">
                <MatAutocompleteList Items="availableSubjects" @bind-Value="selectedSubject" OnOpenedChanged="AddSubject" ItemType="string" Label="Select Subject" ShowClearButton="true"></MatAutocompleteList>
                <MatButton Type="button" OnClick="AddSubject" Icon="library_add">Add</MatButton>
            </div>
            <br />

            <table class="table table-striped">
                <tbody>
                    @foreach (var subject in studentSubjects)
                    {
                        <tr>
                            <td>@(studentSubjects.IndexOf(subject) + 1)</td>
                            <td>@subject</td>
                            <td>
                                <MatIconButton OnClick="@(() => RemoveSubject(@subject))" Icon="delete_forever" Attributes="@(new Dictionary<string, object>() { { "title", "Remove Subject" } })"></MatIconButton>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </MatDialogContent>

        <MatDialogActions>
            <MatButton Type="button" OnClick="CloseDialogs">Cancel</MatButton>
            <MatButton Type="button" OnClick="UpdateSubjectsAsync"><span class="@(busy? "oi oi-loop-circular spinning" : "")"></span>Update</MatButton>
        </MatDialogActions>

    </MatDialog>
}

@*Add / Update Student's Parent*@
@if (!(student is null) && (mode == Mode.UpdateStudentParent))
{
    <MatDialog IsOpen="@parentDialogIsOpened" IsOpenChanged="DialogIsOpenedChanged" CanBeClosed="false">

        <MatDialogTitle>@student.FullName</MatDialogTitle>

        <MatDialogContent>
            <br />
            <p>Select Parent</p>
            @if (searchedParent is null)
            {
                <div class="form-group">
                    <MatSelect TValue="string" @bind-Value="student.ParentId" Label="Parent" Enhanced="true">
                        <MatOptionString Value=""></MatOptionString>
                        @foreach (var parent in parents)
                        {
                            <MatOptionString Value=@parent.Id>@parent.FullName</MatOptionString>
                        }
                    </MatSelect>
                </div>
                <br />
                <p>Not on the list?</p>
            }


            @if (!string.IsNullOrEmpty(searchParentRegNumber) && hasSearchedForParent)
            {
                if (searchedParent is null)
                {
                    <p>No parent with Registration Number: '<strong>@searchParentRegNumber</strong>'  was found.</p>
                }
                else
                {
                    <p>@searchedParent.FullName <MatIconButton OnClick="RemoveSearchedParent" Icon="delete_forever" Attributes="@(new Dictionary<string, object>() { { "title", "Clear" } })"></MatIconButton></p>
                }
            }

            <p>
                <MatTextField OnFocusOut="SearchForParentAsync" @bind-Value="searchParentRegNumber" Label="Search by Reg. Number" Style="width:80%;"></MatTextField>
                <MatIconButton OnClick="SearchForParentAsync" Icon="search" Attributes="@(new Dictionary<string, object>() { { "title", "Search for parent" } })"></MatIconButton>
            </p>
        </MatDialogContent>

        <MatDialogActions>
            <MatButton Type="button" OnClick="CloseDialogs">Cancel</MatButton>
            <MatButton Type="button" OnClick="UpdateStudentsParentAsync"><span class="@(busy? "oi oi-loop-circular spinning" : "")"></span>Update</MatButton>
        </MatDialogActions>

    </MatDialog>
}

@*Sign Up, Remove Sign Up, Update User Roles*@
@if (!(signUp is null) && !(student is null) && (mode == Mode.SignUp))
{
    @*<SignUpComponent Person="student" SignUp="signUp" PersonRoles="studentRoles" AssignableRoles="assignableRoles"></SignUpComponent>*@

    <EditForm Model="signUp" OnValidSubmit="@SignUpAsync">
        <PeterLeslieMorris.Blazor.Validation.Validate />
        <MatDialog IsOpen="@signUpDialogIsOpened" IsOpenChanged="DialogIsOpenedChanged" CanBeClosed="false">

            <MatDialogTitle>Sign Up</MatDialogTitle>

            <MatDialogContent>
                <br />
                <p>Manage <strong>@student.FullName</strong>'s sign up.</p>

                <ValidationSummary />

                @*Sign Up Details*@

                <div>
                    @if (!student.IsSignedUp)
                    {
                        <p><MatTextField OnFocusOut="CheckUsernameAvailabilityAsync" @bind-Value="signUp.Username" Label="Username" HelperText="@usernameAvailabilityText" HelperTextPersistent="true" InputClass="@(usernameAvailable? "green-font": "red-font")" Icon="person" IconTrailing="true" FullWidth="true" Required="true"></MatTextField></p>

                        <p><MatTextField @bind-Value="signUp.Password" Label="Password" Type="@(showPassword ? "text" : "password")" IconOnClick="ToggleShowPassword" Icon="@(showPassword ? "radio_button_unchecked" : "remove_red_eye")" IconTrailing="true" FullWidth="true" Required="true"></MatTextField></p>

                        <p><MatTextField @bind-Value="signUp.ConfirmPassword" Label="Confirm Password" Type="@(showPassword ? "text" : "password")" IconOnClick="ToggleShowPassword" Icon="@(showPassword ? "radio_button_unchecked" : "remove_red_eye")" IconTrailing="true" FullWidth="true" Required="true"></MatTextField></p>
                    }
                    else
                    {
                        <p>
                            This user is already signed up.
                            <MatButton Type="button" OnClick="RemoveSignUpAsync"><span class="@(busyRemovingSignUp? "oi oi-loop-circular spinning" : "")"></span>Remove Sign Up</MatButton>
                        </p>
                    }

                </div>

                <br />
                @*Role*@
                <MatAccordion>
                    <MatExpansionPanel @bind-Expanded="rolePanelExpanded">
                        <MatExpansionPanelSummary>
                            <MatExpansionPanelHeader>Roles</MatExpansionPanelHeader>
                        </MatExpansionPanelSummary>
                        <MatExpansionPanelDetails>

                            <div class="form-group">

                                <MatSelect TValue="string" Label="Role*" ValueChanged="AddRole" Required="true" Enhanced="true">
                                    @if (!(assignableRoles is null))
                                    {
                                        @foreach (var role in assignableRoles)
                                        {
                                            <MatOptionString Value="@role">@role</MatOptionString>
                                        }
                                    }
                                </MatSelect>
                            </div>
                            <br />

                            <table class="table table-striped">
                                <tbody>
                                    @foreach (var role in studentRoles)
                                    {
                                        <tr>
                                            <td>@(studentRoles.IndexOf(role) + 1)</td>
                                            <td>@role</td>
                                            <td>
                                                <MatIconButton OnClick="@(() => RemoveRole(@role))" Icon="delete_forever" Attributes="@(new Dictionary<string, object>() { { "title", "Remove Role" }, { "type", "button" } })"></MatIconButton>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </MatExpansionPanelDetails>
                    </MatExpansionPanel>
                </MatAccordion>

            </MatDialogContent>

            <MatDialogActions>
                <MatButton Type="button" OnClick="CloseDialogs">Cancel</MatButton>
                @if (!student.IsSignedUp)
                {
                    <MatButton Type="submit"><span class="@(busy? "oi oi-loop-circular spinning" : "")"></span>Sign Up</MatButton>
                }
                else
                {
                    <MatButton Type="button" OnClick="ShowResetPasswordDialog">Reset Password</MatButton>
                    @*<MatButton Type="submit"><span class="@(busy? "oi oi-loop-circular spinning" : "")"></span>Update Roles</MatButton>*@
                }
            </MatDialogActions>

        </MatDialog>
    </EditForm>
}

@*Reset Password*@
@if (!(resetPassword is null) && !(student is null) && (mode == Mode.ResetPassword))
{
    <EditForm Model="resetPassword" OnValidSubmit="@ResetPasswordAsync">
        <PeterLeslieMorris.Blazor.Validation.Validate />
        <MatDialog IsOpen="@resetPasswordDialogIsOpened" IsOpenChanged="DialogIsOpenedChanged" CanBeClosed="false">

            <MatDialogTitle>Reset Password</MatDialogTitle>

            <MatDialogContent>
                <br />
                <p>Reset <strong>@student.FullName</strong>'s password to default.</p>

                <ValidationSummary />

                @*New default password*@
                <div>
                    <p><MatTextField @bind-Value="resetPassword.Password" Label="Password" Type="@(showPassword ? "text" : "password")" IconOnClick="ToggleShowPassword" Icon="@(showPassword ? "radio_button_unchecked" : "remove_red_eye")" IconTrailing="true" FullWidth="true" Required="true"></MatTextField></p>

                    <p><MatTextField @bind-Value="resetPassword.ConfirmPassword" Label="Confirm Password" Type="@(showPassword ? "text" : "password")" IconOnClick="ToggleShowPassword" Icon="@(showPassword ? "radio_button_unchecked" : "remove_red_eye")" IconTrailing="true" FullWidth="true" Required="true"></MatTextField></p>
                </div>

                <br />
            </MatDialogContent>

            <MatDialogActions>
                <MatButton Type="button" OnClick="CloseDialogs">Cancel</MatButton>
                <MatButton Type="submit"><span class="@(busy? "oi oi-loop-circular spinning" : "")"></span>Reset</MatButton>
            </MatDialogActions>

        </MatDialog>
    </EditForm>
}

@*Delete Student*@
@if (!(student is null) && (mode == Mode.Delete))
{
    <MatDialog IsOpen="@deleteDialogIsOpened" IsOpenChanged="DialogIsOpenedChanged" CanBeClosed="true">

        <MatDialogTitle>Delete Student?</MatDialogTitle>

        <MatDialogContent>
            <br />
            <div class="form-group">
                <p>Are you sure you want to delete <strong>@student.FullName</strong> permanently?</p>
            </div>
            <br />
        </MatDialogContent>

        <MatDialogActions>
            <MatButton Type="button" OnClick="CloseDialogs">Cancel</MatButton>
            <MatButton @onclick="@(() => DeleteAsync(student.Id))"><span class="@(busy? "oi oi-loop-circular spinning" : "")"></span>Delete</MatButton>
        </MatDialogActions>

    </MatDialog>
}


@code {

    #region variables

    private Student[] students;
    private Student student;
    private Parent[] parents;
    private Parent searchedParent;
    private Class[] classes;
    private Class _class;
    private List<string> availableSubjects;
    private List<string> studentSubjects;
    private List<string> assignableRoles;
    private List<string> studentRoles;
    private SignUp signUp;
    private ResetPassword resetPassword;
    private string selectedSubject;

    private Mode mode = Mode.None;

    private bool addUpdateDialogIsOpened;
    private bool subjectDialogIsOpened;
    private bool deleteDialogIsOpened;
    private bool parentDialogIsOpened;
    private bool rolePanelExpanded;
    private bool signUpDialogIsOpened;
    private bool resetPasswordDialogIsOpened;
    private bool busy;
    private bool busyRemovingSignUp;
    private bool loadFailed;
    private bool sessionExpired;
    private bool showPassword;
    private bool usernameAvailable;
    private bool hasSearchedForParent;

    private string searchParentRegNumber;
    private string add_UpdateTitle;
    private string add_UpdateButtonLabel;
    private string add_RemoveAddressButtonLabel;
    private string usernameAvailabilityText;
    private string errorTitle = "Error";
    private string errorMessage = "Sorry, we could not load this resource due to an error. Please, try again later.";
    #endregion


    private void Add_RemoveAddress()
    {
        if (student.Address is null)
        {
            student.Address = new StudentAddress { StudentId = Guid.Empty.ToString(), Country = "Nigeria" };
            add_RemoveAddressButtonLabel = "Remove";
        }
        else
        {
            student.Address = null;
            student.AddressId = null;
            add_RemoveAddressButtonLabel = "Add";
        }
    }

    private void AddRole(string selectedRole)
    {
        if (!(studentRoles.Contains(selectedRole)) && !string.IsNullOrEmpty(selectedRole))
        {
            studentRoles.Insert(0, selectedRole);
            signUp.Roles = studentRoles.ToArray();
            assignableRoles.Remove(selectedRole);
        }
    }

    private void AddSubject()
    {
        if (!string.IsNullOrEmpty(selectedSubject) &&
            !(studentSubjects.Contains(selectedSubject)) &&
            availableSubjects.Contains(selectedSubject))
        {
            studentSubjects.Insert(0, selectedSubject);
            availableSubjects.Remove(selectedSubject);
            selectedSubject = null; // This enables auto clear of the UI component used for selection
        }
    }

    private async Task Add_UpdateAsync()
    {
        //if (student.SubjectsStatus == "All Class Subjects")
        //{
        //student.OfferingAllClassSubjects = true;
        //    }
        //else if (student.SubjectsStatus == "Selected Subjects")
        //{
        //    student.OfferingAllClassSubjects = false;
        //}

        if (mode == Mode.Add)
        {
            // Populate the subject array of this student before saving
            _class = classes.First(x => x.Id == student.ClassId);
            student.SubjectsArray = _class.SubjectsArray;
            student.OfferingAllClassSubjects = true;


            await StudentService.CreateAsync(student);
        }
        else if (mode == Mode.Update)
        {
            await StudentService.UpdateAsync(student);
        }

        await LoadAsync();
        CloseDialogs();
        Toaster.Add("Your request is being processed. Click Refresh if no change is seen shortly.", MatToastType.Info, "Request Processing", "info");
    }

    private async Task CheckUsernameAvailabilityAsync()
    {
        @if (!string.IsNullOrEmpty(signUp.Username))
        {
            usernameAvailable = await MiscellaneousService.CheckUsernameAvailabilityAsync(signUp.Username);
            if (usernameAvailable)
            {
                usernameAvailabilityText = "This username is available.";
            }
            else
            {
                usernameAvailabilityText = "This username is not available.";
            }
        }
    }

    private void CloseDialogs()
    {
        // Reset fields to their defaults
        addUpdateDialogIsOpened = false;
        subjectDialogIsOpened = false;
        parentDialogIsOpened = false;
        deleteDialogIsOpened = false;
        hasSearchedForParent = false;
        searchParentRegNumber = string.Empty;
        signUpDialogIsOpened = false;
        resetPasswordDialogIsOpened = false;
        rolePanelExpanded = false;
        showPassword = false;
        usernameAvailable = false;
        usernameAvailabilityText = null;

        searchedParent = null;
        student = null;
        _class = null;
        classes = null;
        signUp = null;
        resetPassword = null;
        mode = Mode.None;
    }

    private async Task DeleteAsync(string id)
    {
        await StudentService.DeleteAsync(id);
        await LoadAsync();
        CloseDialogs();
        Toaster.Add("Your request is being processed. Click Refresh if no change is seen shortly.", MatToastType.Info, "Request Processing", "info");
    }

    private void DialogIsOpenedChanged(bool isOpened)
    {
        if (!isOpened)
        {
            CloseDialogs();
        }
    }

    private async Task LoadAsync()
    {
        busy = true;

        try
        {
            if (AppUser.IsSuperAdmin)
            {
                students = await StudentService.GetAllAsync();
            }
            else if (AppUser.IsSchoolAdmin || AppUser.IsAssistantSchoolAdmin)
            {
                students = await StudentService.GetAllAsync(schoolId: AppUser.SchoolId);
            }
            else
            {
                loadFailed = true;
                errorMessage = "You are not authorised to view this resource.";
            }

        }
        catch (System.Net.Http.HttpRequestException ex)
        {
            loadFailed = true;
            (errorTitle, errorMessage, sessionExpired) = ErrorMessageHelper.GetMessage(ex);

            if (sessionExpired)
            {
                try //TODO: Remove the following try catch block when globa error handling is implemented
                {
                    await AppUser.SignOutAsync();
                }
                catch (Exception e)
                {
                    Logger.LogWarning(e, "Unable to log user out.");
                }
            }

            Logger.LogWarning(ex, "Failed to load resource.");
        }
        catch (Exception ex)
        {
            loadFailed = true;
            Logger.LogWarning(ex, "Failed to load resource.");
        }

        busy = false;
    }

    protected override async Task OnInitializedAsync()
    {
       if(!AppUser.IsSignedIn)
        {
            await AppUser.InitializeAsync();
        }
        
        await LoadAsync();
    }

    private void RemoveRole(string role)
    {
        studentRoles.Remove(role);
        signUp.Roles = new[] { Role.Student }; // The role remains student whether removed or not.
        assignableRoles.Add(role);
        assignableRoles.Sort();
    }

    private async Task RemoveSignUpAsync()
    {
        busyRemovingSignUp = true; // Don't use busy = true; because another control on the same page uses it, else, the two controls will show spinning icon.

        await IdentityService.RemoveSignUpAsync(student.Id);
        CloseDialogs();
        Toaster.Add("Your request is being processed. Click Refresh if no change is seen shortly.", MatToastType.Info, "Request Processing", "info");

        busyRemovingSignUp = false;
    }

    private async Task ResetPasswordAsync()
    {
        busy = true;

        await IdentityService.ResetPasswordAsync(resetPassword);
        CloseDialogs();
        Toaster.Add("Your request is being processed. Click Refresh if no change is seen shortly.", MatToastType.Info, "Request Processing", "info");

        busy = false;
    }

    private void RemoveSearchedParent()
    {
        searchParentRegNumber = string.Empty;
        searchedParent = null;
        hasSearchedForParent = false;
    }

    private void RemoveSubject(string subject)
    {
        studentSubjects.Remove(subject);
        availableSubjects.Add(subject);
        availableSubjects.Sort();
    }

    private async Task SearchForParentAsync()
    {
        try
        {
            searchedParent = await ParentService.GetAsync(searchParentRegNumber);
        }
        catch (HttpRequestException)
        {
            //(errorTitle, errorMessage, sessionExpired) = ErrorMessageHelper.GetMessage(ex);
        }

        hasSearchedForParent = true;
    }

    private async Task ShowAddStudentDialogAsync()
    {
        busy = true;

        classes = await ClassService.GetAllAsync(schoolId: AppUser.SchoolId);

        student = new Student { SchoolId = AppUser.SchoolId, SubjectsStatus = "All Class Subjects" };
        add_UpdateTitle = "Add Student";
        add_UpdateButtonLabel = "Add";
        add_RemoveAddressButtonLabel = "Add";
        mode = Mode.Add;
        addUpdateDialogIsOpened = true;

        busy = false;
    }

    private void ShowDeleteStudentDialog(string id)
    {
        busy = true;

        //student = await StudentService.GetAsync(id);
        student = students.FirstOrDefault(x => x.Id == id);

        mode = Mode.Delete;
        deleteDialogIsOpened = true;

        busy = false;
    }

    private async Task ShowResetPasswordDialog()
    {
        busy = true;
        resetPassword = new ResetPassword { UserId = student.Id };

        mode = Mode.ResetPassword;
        resetPasswordDialogIsOpened = true;

        busy = false;
    }

    private void ShowSignUpDialog(string id)
    {
        busy = true;

        student = students.FirstOrDefault(x => x.Id == id);
        studentRoles = student.RolesArray.ToList();

        if (student.IsSignedUp)
        {
            // This sign up will not be sent to the api, but it's needed for validation sake.
            signUp = new SignUp { UserId = id, SchoolId = AppUser.SchoolId, Username = "Some fake username", Password = "FakePassword@123", ConfirmPassword = "FakePassword@123" };
        }
        else
        {
            signUp = new SignUp { UserId = id, SchoolId = AppUser.SchoolId };
        }

        signUp.Roles = new[] { Role.Student };

        assignableRoles = new List<string> { Role.Student };

        foreach (var role in studentRoles)
        {
            assignableRoles.Remove(role);
        }

        mode = Mode.SignUp;
        signUpDialogIsOpened = true;

        busy = false;
    }

    private async Task ShowUpdateStudentDialogAsync(string id)
    {
        busy = true;

        student = students.FirstOrDefault(x => x.Id == id);
        if (student.OfferingAllClassSubjects)
        {
            student.SubjectsStatus = "All Class Subjects";
        }
        else
        {
            student.SubjectsStatus = "Selected Subjects";
        }

        classes = await ClassService.GetAllAsync(schoolId: AppUser.SchoolId);
        add_UpdateTitle = "Update Student";
        add_UpdateButtonLabel = "Update";
        mode = Mode.Update;
        addUpdateDialogIsOpened = true;

        busy = false;
    }

    private async Task ShowUpdateSubjectsDialogAsync(string id)
    {
        busy = true;

        student = students.FirstOrDefault(x => x.Id == id);
        _class = await ClassService.GetAsync(student.ClassId);

        if (student.OfferingAllClassSubjects)
        {
            studentSubjects = _class.SubjectsArray.ToList();
        }
        else
        {
            studentSubjects = student.SubjectsArray.ToList();
        }

        // Load subjects from json file
        availableSubjects = await HttpClient.GetJsonAsync<List<string>>($"json-data/subjects/{_class.Category}.json");

        foreach (var sub in studentSubjects)
        {
            availableSubjects.Remove(sub);
        }

        mode = Mode.UpdateStudentSubjects;
        subjectDialogIsOpened = true;

        busy = false;
    }

    private async Task ShowUpdateStudentsParentDialogAsync(string id)
    {
        busy = true;

        student = students.FirstOrDefault(x => x.Id == id);
        parents = await ParentService.GetAllAsync(schoolId: AppUser.SchoolId);

        mode = Mode.UpdateStudentParent;
        parentDialogIsOpened = true;

        busy = false;
    }

    private async Task SignUpAsync()
    {
        busy = true;

        if (!student.IsSignedUp)
        {
            if (usernameAvailable)
            {
                await IdentityService.SignUpAsync(signUp);
                CloseDialogs();
                Toaster.Add("Your request is being processed. Click Refresh if no change is seen shortly.", MatToastType.Info, "Request Processing", "info");
            }
            else
            {
                Toaster.Add("The specified username is already taken. Please, choose another one.", MatToastType.Danger, "Unavailable Username", "error");
            }
        }

        busy = false;
    }

    private async Task ToggleAddressVisibilityAsync(bool addressVisible)
    {
        if (addressVisible && student.Address is null)
        {
            if (!string.IsNullOrEmpty(student.AddressId)) // This person has an address, load it.
            {
                var address = await MiscellaneousService.GetAddressAsync(student.AddressId.ToString());
                student.Address = new StudentAddress
                {
                    Line1 = address.Line1,
                    Line2 = address.Line2,
                    Town = address.Town,
                    State = address.State,
                    Country = address.Country,
                    StudentId = student.Id
                };

                add_RemoveAddressButtonLabel = "Remove";
            }
            else
            {
                add_RemoveAddressButtonLabel = "Add";
            }
        }
    }

    private void ToggleShowPassword()
        => showPassword = !showPassword;

    private async Task UpdateStudentsParentAsync()
    {
        busy = true;

        try
        {
            if (!(searchedParent is null))
            {
                student.ParentId = searchedParent.Id;
            }

            await StudentService.UpdateAsync(student);

            CloseDialogs();
            Toaster.Add("Your request is being processed. Click Refresh if no change is seen shortly.", MatToastType.Info, "Request Processing", "info");
        }
        catch (HttpRequestException ex)
        {
            (errorTitle, errorMessage, sessionExpired) = ErrorMessageHelper.GetMessage(ex);
            Toaster.Add(errorMessage, MatToastType.Danger, errorTitle, "error");
            Logger.LogWarning(ex, "Failed to update item.");
        }

        busy = false;
    }

    private async Task UpdateSubjectsAsync()
    {
        busy = true;

        if (studentSubjects.Except(_class.SubjectsArray).Any()
        || _class.SubjectsArray.Except(studentSubjects).Any())
        {
            student.OfferingAllClassSubjects = false;
        }
        else
        {
            student.OfferingAllClassSubjects = true;
        }

        student.SubjectsArray = studentSubjects.ToArray();

        //student.Class = null!; // Student's class's Id is enough, no need sending their class back to the backend api

        try
        {
            await StudentService.UpdateAsync(student);

            subjectDialogIsOpened = false;
            mode = Mode.None;
            Toaster.Add("Your request is being processed. Click Refresh if no change is seen shortly.", MatToastType.Info, "Request Processing", "info");
        }
        catch (HttpRequestException ex)
        {
            (errorTitle, errorMessage, sessionExpired) = ErrorMessageHelper.GetMessage(ex);
            Toaster.Add(errorMessage, MatToastType.Danger, errorTitle, "error");
            Logger.LogWarning(ex, "Failed to update item.");
        }

        busy = false;
    }

}
