@page "/schadm/teachers"
@*@inject IConfiguration Configuration*@
@inject HttpClient HttpClient
@inject ITeacherService TeacherService
@inject ISchoolService SchoolService
@inject IMiscellaneousService MiscellaneousService
@inject IIdentityService IdentityService
@inject ILogger<Teachers> Logger
@inject AppUser AppUser
@inject IMatToaster Toaster

<MatH5>Teachers</MatH5>
<br />

@if (!(teachers is null))
{
    <MatButton OnClick="ShowAddTeacherDialogAsync" Icon="person_add">Add Teacher</MatButton>
    <MatButton OnClick="LoadAsync" Icon="refresh">Refresh</MatButton>

    <img class="@(busy? "show-gif": "hide-gif")" src="/images/loading.gif" />

    <MatTable Items="@teachers" Striped="true">
        <MatTableHeader>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th></th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.FirstName</td>
            <td>@context.MiddleName</td>
            <td>@context.LastName</td>
            <td>
                <MatIconButton OnClick="@(() => ShowSignUpDialogAsync(context.Id))" Icon="exit_to_app" Attributes="@(new Dictionary<string, object>() { { "title", "Manage Sign Up" } })"></MatIconButton>
                <MatIconButton OnClick="@(() => ShowUpdateTeacherDialogAsync(context.Id))" Icon="edit" Attributes="@(new Dictionary<string, object>() { { "title", "Edit Teacher's Information" } })"></MatIconButton>
                <MatIconButton OnClick="@(() => ShowDeleteTeacherDialogAsync(context.Id))" Icon="delete_forever" Attributes="@(new Dictionary<string, object>() { { "title", "Delete Teacher" } })"></MatIconButton>
            </td>
        </MatTableRow>
    </MatTable>
}
else if (loadFailed)
{
    <p><em>@errorMessage</em></p>
    Toaster.Add(errorMessage, MatToastType.Danger, errorTitle, "error");
}
else
{
    <MatProgressBar Indeterminate="true"></MatProgressBar>
}

@*Add / Update*@
@if (!(teachers is null) && (mode == Mode.Add || mode == Mode.Update))
{
    <EditForm Model="teacher" OnValidSubmit="Add_UpdateAsync">
        <PeterLeslieMorris.Blazor.Validation.Validate />
        <MatDialog IsOpen="@addUpdateDialogIsOpened" IsOpenChanged="DialogIsOpenedChanged" CanBeClosed="false">

            <MatDialogTitle>@add_UpdateTitle</MatDialogTitle>

            <MatDialogContent>
                <ValidationSummary />

                @*Teacher properties*@
                <div>
                    @if (AppUser.IsSuperAdmin) // Superadmin has to select a school to which this teacher belongs
                    {
                        <div class="row">
                            <div class="form-group col-md-12">
                                @* TODO: User searchable select because school list may be very large *@
                                <MatSelect @bind-Value="teacher.SchoolId" Label="School*" Enhanced="true" Required="true" Style="width:100%;">
                                    @foreach (var school in schools)
                                    {
                                        <MatOption Value=@school.Id>@school.Name</MatOption>
                                    }
                                </MatSelect>
                            </div>
                        </div>
                    }

                    <PersonDetailsComponent Person="teacher"></PersonDetailsComponent>

                    <div class="row mt-md-n5 pull-up">
                        @*Pull this row up to match the last item displayed from the component*@
                        <div class="form-group col-md-6 offset-md-6">
                            <MatNumericUpDownField @bind-Value="gradeLevel" Label="Grade Level" DecimalPlaces=0 Minimum=1 Maximum=17></MatNumericUpDownField>
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <MatTextField @bind-Value="teacher.Position" Label="Position"></MatTextField>
                        </div>
                        <div class="form-group col-md-6">
                            <MatNumericUpDownField @bind-Value="step" Label="Step" DecimalPlaces=0 Minimum=1></MatNumericUpDownField>
                        </div>

                    </div>
                </div>

                <br />
                @*Address*@
                <MatAccordion>
                    <MatExpansionPanel ExpandedChanged="ToggleAddressVisibilityAsync">
                        <MatExpansionPanelSummary>
                            <MatExpansionPanelHeader>Address</MatExpansionPanelHeader>
                        </MatExpansionPanelSummary>
                        <MatExpansionPanelDetails>
                            <div class="row">
                                <div class="form-group">
                                    <MatButton Type="button" OnClick="Add_RemoveAddress">@add_RemoveAddressButtonLabel</MatButton>
                                </div>
                            </div>

                            @if (!(teacher.Address is null))
                            {
                                <AddressComponent Address="teacher.Address"></AddressComponent>
                            }
                        </MatExpansionPanelDetails>
                    </MatExpansionPanel>
                </MatAccordion>


            </MatDialogContent>

            <MatDialogActions>
                <MatButton Type="button" OnClick="CloseDialogs">Cancel</MatButton>
                <MatButton Type="submit"><span class="@(busy? "oi oi-loop-circular spinning" : "")"></span>@add_UpdateButtonLabel</MatButton>
            </MatDialogActions>

        </MatDialog>
    </EditForm>
}

@*Sign Up, Remove Sign Up, Update User Roles*@
@if (!(signUp is null) && !(teacher is null) && (mode == Mode.SignUp))
{
    <EditForm Model="signUp" OnValidSubmit="@SignUpAsync">
        <PeterLeslieMorris.Blazor.Validation.Validate />
        <MatDialog IsOpen="@signUpDialogIsOpened" IsOpenChanged="DialogIsOpenedChanged" CanBeClosed="false">

            <MatDialogTitle>Sign Up</MatDialogTitle>

            <MatDialogContent>
                <br />
                <p>Manage <strong>@teacher.FullName</strong>'s sign up.</p>

                <ValidationSummary />

                @*Sign Up Details*@

                <div>
                    @if (!teacher.IsSignedUp)
                    {
                        <p><MatTextField OnFocusOut="CheckUsernameAvailabilityAsync" @bind-Value="signUp.Username" Label="Username" HelperText="@usernameAvailabilityText" HelperTextPersistent="true" InputClass="@(usernameAvailable? "green-font": "red-font")" Icon="person" IconTrailing="true" FullWidth="true" Required="true"></MatTextField></p>

                        <p><MatTextField @bind-Value="signUp.Password" Label="Password" Type="@(showPassword ? "text" : "password")" IconOnClick="ToggleShowPassword" Icon="@(showPassword ? "radio_button_unchecked" : "remove_red_eye")" IconTrailing="true" FullWidth="true" Required="true"></MatTextField></p>

                        <p><MatTextField @bind-Value="signUp.ConfirmPassword" Label="Confirm Password" Type="@(showPassword ? "text" : "password")" IconOnClick="ToggleShowPassword" Icon="@(showPassword ? "radio_button_unchecked" : "remove_red_eye")" IconTrailing="true" FullWidth="true" Required="true"></MatTextField></p>
                    }
                    else
                    {
                        <p>
                            This user is already signed up.
                            <MatButton Type="button" OnClick="RemoveSignUpAsync"><span class="@(busyRemovingSignUp? "oi oi-loop-circular spinning" : "")"></span>Remove Sign Up</MatButton>
                        </p>
                    }

                </div>

                <br />
                @*Role*@
                <MatAccordion>
                    <MatExpansionPanel @bind-Expanded="rolePanelExpanded">
                        <MatExpansionPanelSummary>
                            <MatExpansionPanelHeader>Roles*</MatExpansionPanelHeader>
                        </MatExpansionPanelSummary>
                        <MatExpansionPanelDetails>

                            <div class="form-group">

                                <MatSelect TValue="string" Label="Role*" ValueChanged="AddRole" Required="true" Enhanced="true">
                                    @if (!(assignableRoles is null))
                                    {
                                        @foreach (var role in assignableRoles)
                                        {
                                            <MatOptionString Value="@role">@role</MatOptionString>
                                        }
                                    }
                                </MatSelect>
                            </div>
                            <br />

                            <table class="table table-striped">
                                <tbody>
                                    @foreach (var role in teacherRoles)
                                    {
                                        <tr>
                                            <td>@(teacherRoles.IndexOf(role) + 1)</td>
                                            <td>@role</td>
                                            <td>
                                                <MatIconButton OnClick="@(() => RemoveRole(@role))" Icon="delete_forever" Attributes="@(new Dictionary<string, object>() { { "title", "Remove Role" }, { "type", "button" } })"></MatIconButton>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </MatExpansionPanelDetails>
                    </MatExpansionPanel>
                </MatAccordion>

            </MatDialogContent>

            <MatDialogActions>
                <MatButton Type="button" OnClick="CloseDialogs">Cancel</MatButton>
                @if (!teacher.IsSignedUp)
                {
                    <MatButton Type="submit"><span class="@(busy? "oi oi-loop-circular spinning" : "")"></span>Sign Up</MatButton>
                }
                else
                {
                    <MatButton Type="button" OnClick="ShowResetPasswordDialog">Reset Password</MatButton>
                    <MatButton Type="submit"><span class="@(busy? "oi oi-loop-circular spinning" : "")"></span>Update Roles</MatButton>
                }
            </MatDialogActions>

        </MatDialog>
    </EditForm>
}

@*Reset Password*@
@if (!(resetPassword is null) && !(teacher is null) && (mode == Mode.ResetPassword))
{
    <EditForm Model="resetPassword" OnValidSubmit="@ResetPasswordAsync">
        <PeterLeslieMorris.Blazor.Validation.Validate />
        <MatDialog IsOpen="@resetPasswordDialogIsOpened" IsOpenChanged="DialogIsOpenedChanged" CanBeClosed="false">

            <MatDialogTitle>Reset Password</MatDialogTitle>

            <MatDialogContent>
                <br />
                <p>Reset <strong>@teacher.FullName</strong>'s password to default.</p>

                <ValidationSummary />

                @*New default password*@
                <div>
                    <p><MatTextField @bind-Value="resetPassword.Password" Label="Password" Type="@(showPassword ? "text" : "password")" IconOnClick="ToggleShowPassword" Icon="@(showPassword ? "radio_button_unchecked" : "remove_red_eye")" IconTrailing="true" FullWidth="true" Required="true"></MatTextField></p>

                    <p><MatTextField @bind-Value="resetPassword.ConfirmPassword" Label="Confirm Password" Type="@(showPassword ? "text" : "password")" IconOnClick="ToggleShowPassword" Icon="@(showPassword ? "radio_button_unchecked" : "remove_red_eye")" IconTrailing="true" FullWidth="true" Required="true"></MatTextField></p>
                </div>

                <br />
            </MatDialogContent>

            <MatDialogActions>
                <MatButton Type="button" OnClick="CloseDialogs">Cancel</MatButton>
                <MatButton Type="submit"><span class="@(busy? "oi oi-loop-circular spinning" : "")"></span>Reset</MatButton>
            </MatDialogActions>

        </MatDialog>
    </EditForm>
}

@*Delete*@
@if (!(teacher is null) && (mode == Mode.Delete))
{
    <MatDialog IsOpen="@deleteDialogIsOpened" IsOpenChanged="DialogIsOpenedChanged" CanBeClosed="true">

        <MatDialogTitle>Delete Teacher?</MatDialogTitle>

        <MatDialogContent>
            <br />
            <div class="form-group">
                <p>Are you sure you want to delete <strong>@teacher.FullName</strong> permanently?</p>
            </div>
            <br />
        </MatDialogContent>

        <MatDialogActions>
            <MatButton Type="button" OnClick="CloseDialogs">Cancel</MatButton>
            <MatButton @onclick="@(() => DeleteAsync(teacher.Id))"><span class="@(busy? "oi oi-loop-circular spinning" : "")"></span>Delete</MatButton>
        </MatDialogActions>

    </MatDialog>
}


@code {

    #region variables

    private Teacher[] teachers;
    private Teacher teacher;
    private SignUp signUp;
    private ResetPassword resetPassword;
    private School[] schools;
    private List<string> assignableRoles;
    private List<string> teacherRoles;

    private Mode mode = Mode.None;
    private bool addUpdateDialogIsOpened;
    private bool deleteDialogIsOpened;
    private bool rolePanelExpanded;
    private bool signUpDialogIsOpened;
    private bool resetPasswordDialogIsOpened;
    private bool busy;
    private bool busyRemovingSignUp;
    private bool loadFailed;
    private bool sessionExpired;
    private bool showPassword;
    private bool usernameAvailable;

    decimal? step;
    decimal? gradeLevel;

    private string add_UpdateTitle;
    private string add_UpdateButtonLabel;
    private string add_RemoveAddressButtonLabel;
    private string usernameAvailabilityText;
    private string errorTitle = "Error";
    private string errorMessage = "Sorry, we could not load this resource due to an error. Please, try again later.";
    #endregion


    private void Add_RemoveAddress()
    {
        if (teacher.Address is null)
        {
            teacher.Address = new TeacherAddress { TeacherId = Guid.Empty.ToString(), Country = "Nigeria" };
            add_RemoveAddressButtonLabel = "Remove";
        }
        else
        {
            teacher.Address = null;
            teacher.AddressId = null;
            add_RemoveAddressButtonLabel = "Add";
        }
    }

    private void AddRole(string selectedRole)
    {
        if (!string.IsNullOrEmpty(selectedRole) &&
            !(teacherRoles.Contains(selectedRole)))
        {
            teacherRoles.Insert(0, selectedRole);
            signUp.Roles = teacherRoles.ToArray();
            assignableRoles.Remove(selectedRole);
        }
    }

    private async Task Add_UpdateAsync()
    {
        busy = true;

        if (gradeLevel.HasValue && gradeLevel.Value > 0)
        {
            teacher.GradeLevel = (int)gradeLevel;

            if (step.HasValue && step.Value > 0)
            {
                teacher.Step = (int)step;
            }
        }

        if (mode == Mode.Add)
        {
            await TeacherService.CreateAsync(teacher);
        }
        else if (mode == Mode.Update)
        {
            await TeacherService.UpdateAsync(teacher);
        }

        await LoadAsync();
        CloseDialogs();
        Toaster.Add("Your request is being processed. Click Refresh if no change is seen shortly.", MatToastType.Info, "Request Processing", "info");

        busy = false;
    }

    private async Task CheckUsernameAvailabilityAsync()
    {
        @if(!string.IsNullOrEmpty(signUp.Username))
        { 
            usernameAvailable = await MiscellaneousService.CheckUsernameAvailabilityAsync(signUp.Username);
            if (usernameAvailable)
            {
                usernameAvailabilityText = "This username is available.";
            }
            else
            {
                usernameAvailabilityText = "This username is not available.";
            }
        }
    }

    private void CloseDialogs()
    {
        // Reset fields to their defaults
        addUpdateDialogIsOpened = false;
        deleteDialogIsOpened = false;
        signUpDialogIsOpened = false;
        resetPasswordDialogIsOpened = false;
        rolePanelExpanded = false;
        showPassword = false;
        usernameAvailable = false;

        usernameAvailabilityText = null;
        teacher = null;
        signUp = null;
        resetPassword = null;
        mode = Mode.None;
    }

    private async Task DeleteAsync(string id)
    {
        busy = true;

        await TeacherService.DeleteAsync(id);
        await LoadAsync();
        CloseDialogs();
        Toaster.Add("Your request is being processed. Click Refresh if no change is seen shortly.", MatToastType.Info, "Request Processing", "info");

        busy = false;
    }

    private void DialogIsOpenedChanged(bool isOpened)
    {
        if (!isOpened)
        {
            CloseDialogs();
        }
    }

    private async Task LoadAsync()
    {
        busy = true;

        try
        {
            if (AppUser.IsSuperAdmin)
            {
                teachers = await TeacherService.GetAllAsync();
            }
            else if (AppUser.IsSchoolAdmin || AppUser.IsAssistantSchoolAdmin)
            {
                teachers = await TeacherService.GetAllAsync(schoolId: AppUser.SchoolId);
            }
            else
            {
                loadFailed = true;
                errorMessage = "You are not authorised to view this resource.";
            }
        }
        catch (System.Net.Http.HttpRequestException ex)
        {
            loadFailed = true;
            (errorTitle, errorMessage, sessionExpired) = ErrorMessageHelper.GetMessage(ex);

            if (sessionExpired)
            {
                try //TODO: Remove the following try catch block when globa error handling is implemented
                {
                    await AppUser.SignOutAsync();
                }
                catch (Exception e)
                {
                    Logger.LogWarning(e, "Unable to log user out.");
                }
            }

            Logger.LogWarning(ex, "Failed to load resource.");
        }
        catch (Exception ex)
        {
            loadFailed = true;
            Logger.LogWarning(ex, "Failed to load resource.");
        }

        busy = false;
    }

    private async Task LoadSchoolsAsync()
    {
        // TODO: Limit the number of schools loaded, it might be too large
        // Load schools
        schools = await SchoolService.GetAllAsync();
    }

    protected override async Task OnInitializedAsync()
    {
       if(!AppUser.IsSignedIn)
        {
            await AppUser.InitializeAsync();
        }
        
        await LoadAsync();
    }

    private void RemoveRole(string role)
    {
        teacherRoles.Remove(role);
        signUp.Roles = teacherRoles.ToArray();
        assignableRoles.Add(role);
        assignableRoles.Sort();
    }

    private async Task RemoveSignUpAsync()
    {
        busyRemovingSignUp = true; // Don't use busy = true; because another control on the same page uses it, else, the two controls will show spinning icon.

        await IdentityService.RemoveSignUpAsync(teacher.Id);
        CloseDialogs();
        Toaster.Add("Your request is being processed. Click Refresh if no change is seen shortly.", MatToastType.Info, "Request Processing", "info");

        busyRemovingSignUp = false;
    }

    private async Task ResetPasswordAsync()
    {
        busy = true;

        await IdentityService.ResetPasswordAsync(resetPassword);
        CloseDialogs();
        Toaster.Add("Your request is being processed. Click Refresh if no change is seen shortly.", MatToastType.Info, "Request Processing", "info");

        busy = false;
    }

    private async Task ShowAddTeacherDialogAsync()
    {
        busy = true;

        if (AppUser.IsSuperAdmin)
        {
            await LoadSchoolsAsync();
            teacher = new Teacher();
        }
        else if (AppUser.IsSchoolAdmin || AppUser.IsAssistantSchoolAdmin)
        {
            teacher = new Teacher { SchoolId = AppUser.SchoolId };
        }

        add_UpdateTitle = "Add Teacher";
        add_UpdateButtonLabel = "Add";
        add_RemoveAddressButtonLabel = "Add";
        mode = Mode.Add;
        addUpdateDialogIsOpened = true;

        busy = false;
    }

    private async Task ShowDeleteTeacherDialogAsync(string id)
    {
        busy = true;

        //teacher = await TeacherService.GetAsync(id);
        teacher = teachers.FirstOrDefault(x => x.Id == id);

        mode = Mode.Delete;
        deleteDialogIsOpened = true;

        busy = false;
    }

    private async Task ShowResetPasswordDialog()
    {
        busy = true;
        resetPassword = new ResetPassword { UserId = teacher.Id };

        mode = Mode.ResetPassword;
        resetPasswordDialogIsOpened = true;

        busy = false;
    }

    private async Task ShowSignUpDialogAsync(string id)
    {
        busy = true;

        //teacher = await TeacherService.GetAsync(id);
        teacher = teachers.FirstOrDefault(x => x.Id == id);
        teacherRoles = teacher.RolesArray.ToList();

        if (teacher.IsSignedUp)
        {
            // This sign up will not be sent to the api, but it's needed for validation sake.
            signUp = new SignUp { UserId = id, SchoolId = teacher.SchoolId, Username = "Some fake username", Password = "FakePassword@123", ConfirmPassword = "FakePassword@123" };
        }
        else
        {
            signUp = new SignUp { UserId = id, SchoolId = teacher.SchoolId };
        }

        signUp.Roles = teacher.RolesArray;

        //Role roles = new Role();

        if (AppUser.IsSchoolAdmin)
        {
            assignableRoles = await HttpClient.GetJsonAsync<List<string>>("json-data/roles/school-admin.json");
        }
        else if (AppUser.IsAssistantSchoolAdmin)
        {
            assignableRoles = await HttpClient.GetJsonAsync<List<string>>("json-data/roles/assistant-school-admin.json");
        }
        else if (AppUser.IsSuperAdmin)
        {
            assignableRoles = await HttpClient.GetJsonAsync<List<string>>("json-data/roles/super-admin.json");
        }

        assignableRoles.Remove(Role.Student); // A teacher cannot be a student.

        foreach (var role in teacherRoles)
        {
            assignableRoles.Remove(role);
        }

        assignableRoles.Sort();

        mode = Mode.SignUp;
        signUpDialogIsOpened = true;

        busy = false;
    }

    private async Task ShowUpdateTeacherDialogAsync(string id)
    {
        busy = true;

        //teacher = await TeacherService.GetAsync(id);
        teacher = teachers.FirstOrDefault(x => x.Id == id);
        gradeLevel = (decimal?)teacher.GradeLevel;
        step = teacher.Step;

         if (AppUser.IsSuperAdmin)
        {
            await LoadSchoolsAsync();
        }

        add_UpdateTitle = "Update Teacher";
        add_UpdateButtonLabel = "Update";

        mode = Mode.Update;
        addUpdateDialogIsOpened = true;

        busy = false;
    }

    private async Task SignUpAsync()
    {
        busy = true;

        if (!teacher.IsSignedUp)
        {
            if (usernameAvailable)
            {
                await IdentityService.SignUpAsync(signUp);
                CloseDialogs();
                Toaster.Add("Your request is being processed. Click Refresh if no change is seen shortly.", MatToastType.Info, "Request Processing", "info");
            }
            else
            {
                Toaster.Add("The specified username is already taken. Please, choose another one.", MatToastType.Danger, "Unavailable Username", "error");
            }
        }
        else // This teacher is already signed up, update their roles (if there's any changes)
        {
            if (teacher.RolesArray.Except(teacherRoles).Any() || teacherRoles.Except(teacher.RolesArray).Any()) // There's a change in roles
            {
                await IdentityService.UpdateRolesAsync(new UpdateRoles { UserId = teacher.Id, Roles = teacherRoles.ToArray() });
                Toaster.Add("Your request is being processed. Click Refresh if no change is seen shortly.", MatToastType.Info, "Request Processing", "info");
            }

            CloseDialogs();
        }

        busy = false;
    }

    private async Task ToggleAddressVisibilityAsync(bool addressVisible)
    {
        if (addressVisible && teacher.Address is null)
        {
            if (!string.IsNullOrEmpty(teacher.AddressId)) // This person has an address, load it.
            {
                var address = await MiscellaneousService.GetAddressAsync(teacher.AddressId.ToString());
                teacher.Address = new TeacherAddress
                {
                    Line1 = address.Line1,
                    Line2 = address.Line2,
                    Town = address.Town,
                    State = address.State,
                    Country = address.Country,
                    TeacherId = teacher.Id
                };

                add_RemoveAddressButtonLabel = "Remove";
            }
            else
            {
                add_RemoveAddressButtonLabel = "Add";
            }
        }
    }

    private void ToggleShowPassword()
        => showPassword = !showPassword;

}
