@page "/s/my-scores"
@*@inject IScoresService ScoresService*@
@inject IClassService ClassService
@*@inject ITeacherService TeacherService*@
@inject IStudentScoreService StudentScoreService
@inject ILogger<Results> Logger
@inject AppUser AppUser
@inject IMatToaster Toaster

<MatH5>Scores</MatH5>
<br />

@if (!(scores is null))
{
<div class="row">
  
    <div class="col-md-4">
        <MatSelect TValue="string" Value="@examType" ValueChanged="ChangeExamTypeAsync" Label="Exam Type" Enhanced="true">
            <MatOptionString Value="@ExamType.CA">C. A.</MatOptionString>
            <MatOptionString Value="@ExamType.FirstExam">First Exam</MatOptionString>
            <MatOptionString Value="@ExamType.SecondExam">Second Exam</MatOptionString>
            <MatOptionString Value="@ExamType.ClassActivities">Class Activities</MatOptionString>
            <MatOptionString Value="@ExamType.Homework">Homework</MatOptionString>
        </MatSelect>
    </div>
    <div class="col-md-4">
        <MatSelect TValue="string" Value="@term" ValueChanged="ChangeTermAsync" Label="Term" Enhanced="true">
            <MatOptionString Value="@Term.FirstTerm">First Term</MatOptionString>
            <MatOptionString Value="@Term.SecondTerm">Second Term</MatOptionString>
            <MatOptionString Value="@Term.ThirdTerm">Third Term</MatOptionString>
        </MatSelect>
    </div>
    <div class="col-md-4">
        <MatDatePicker TValue="DateTime" Value="@session" ValueChanged="ChangeSessionAsync" Label="Session"></MatDatePicker>
    </div>

</div>

    <img class="@(busy? "show-gif": "hide-gif")" src="/images/loading.gif" />

    <MatTable Items="@scores" Striped="true">
        <MatTableHeader>
            <th>Subject</th>
            <th>Score</th>
            <th>Grade</th>
        </MatTableHeader>
        <MatTableRow>
            @if (scores.Length > 0)
                {
                <td>@context.Subject</td>
                <td>@context.Mark</td>
                <td>@context.ClassName</td>
                }
                else
                {
                <td colspan="4">No scores found! Please, select appropriate criteria.</td>
                }
        </MatTableRow>
    </MatTable>
}
else if (loadFailed)
{
    <p><em>@errorMessage</em></p>
    Toaster.Add(errorMessage, MatToastType.Danger, errorTitle, "error");
}
else
{
    <MatProgressBar Indeterminate="true"></MatProgressBar>
}


@code {

    #region variables

    private StudentScore[] scores;
    //private Class[] availableClasses;
    //private Student student;
    //private string[] classSubjects;

    //private Mode mode = Mode.None;
    private bool busy;
    private bool loadFailed;
    private bool sessionExpired;

    private string studentName;
    private string term = Term.FirstTerm;
    private string examType = ExamType.FirstExam;
    private DateTime session = DateTime.UtcNow;
    private string errorTitle = "Error";
    private string errorMessage = "Sorry, we could not load this resource due to an error. Please, try again later.";
    #endregion

    private async Task LoadAsync()
    {
        busy = true;

        try
        {
            if (AppUser.IsStudent)
            {
                scores = await StudentScoreService.GetAllAsync(studentId: AppUser.Id,
                 examType: examType, term: term, session: session.Year);
            }
            else
            {
                loadFailed = true;
                errorMessage = "You are not authorised to view this resource.";
            }
        }
        catch (System.Net.Http.HttpRequestException ex)
        {
            loadFailed = true;
            (errorTitle, errorMessage, sessionExpired) = ErrorMessageHelper.GetMessage(ex);

            if (sessionExpired)
            {
                try //TODO: Remove the following try catch block when globa error handling is implemented
                {
                    await AppUser.SignOutAsync();
                }
                catch (Exception e)
                {
                    Logger.LogWarning(e, "Unable to log user out.");
                }
            }

            Logger.LogWarning(ex, "Failed to load resource.");
        }
        catch (Exception ex)
        {
            loadFailed = true;
            Logger.LogWarning(ex, "Failed to load resource.");
        }

        busy = false;
    }

    private async Task ChangeExamTypeAsync(string selectedExamType)
    {
        examType = selectedExamType;
        await SearchScoresAsync();
    }

    private async Task ChangeSessionAsync(DateTime selectedSession)
    {
        if (selectedSession.Year != session.Year)
        {
            session = selectedSession;
            await SearchScoresAsync();
        }
    }

    private async Task ChangeTermAsync(string selectedTerm)
    {
        term = selectedTerm;
        await SearchScoresAsync();
    }

   protected override async Task OnInitializedAsync()
    {
       if(!AppUser.IsSignedIn)
        {
            await AppUser.InitializeAsync();
        }
        
        await LoadAsync();
    }

    protected async Task SearchScoresAsync()
    {
        busy = true;

        scores = await StudentScoreService.GetAllAsync(studentId: AppUser.Id,
                examType: examType, term: term, session: session.Year);

        busy = false;
    }

}
